@import './mixins.scss';

.button {
  &--primary {
    background-color: var(--bg-color-button);
    color: white;
  }
  &--tertiary {
    border: none;
    &:focus {
      @include focus;
    }
  }
}
